<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.common.mapper.SearchMapper">

    <!-- 查询商品列表 -->
    <select id="selectCommodity" resultType="com.ligg.common.entity.FeaturedEntity">
        select f.id,
        f.title,
        f.image_path,
        f.original_price,
        f.current_price,
        f.reviews,
        f.rating
        from featured f
        left join featured_detail fd on f.id = fd.featured_id
        where f.title like concat('%', #{keyword}, '%')
        or fd.description like concat('%', #{keyword}, '%')
        <if test="sort == 2">
            order by f.current_price
        </if>
        <if test="sort == 3">
            order by f.current_price desc
        </if>
    </select>
</mapper>
