<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ligg.common.mapper.SearchMapper">

    <!-- 查询商品列表 -->
    <select id="selectCommodity" resultType="com.ligg.common.module.entity.ProductEntity">
        select
        p.id,
        p.title,
        p.image_path,
        p.original_price,
        p.current_price,
        p.reviews,
        p.rating
        from product p
        left join product_detail pd on p.id = pd.product_id
        where p.title like concat('%', #{keyword}, '%')
        or pd.description like concat('%', #{keyword}, '%')
        <if test="sort == 2">
            order by p.current_price
        </if>
        <if test="sort == 3">
            order by p.current_price desc
        </if>
    </select>
</mapper>
